################################################################################
#                                                                              #
#   Copyright 2025 Finebits (https://finebits.com)                             #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
#                                                                              #
################################################################################

---

name: Check the 'devhub/uno-platform/setup' Action

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  workflow_call:

jobs:

  checks:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, windows-11-arm]
        preset: [deafult, specific-version, specific-manifest, specific-unosdk]
        include:
          - skip: |
              xcode
              vswin
              vsmac
              windowshyperv
              edgewebview2
              androidemulator
          - preset: deafult
            manifest: ''
            version: ''
            unosdk: ''
          - preset: specific-version
            manifest: ''
            version: '1.33.1'
            unosdk: ''
          - preset: specific-manifest
            manifest: 'https://raw.githubusercontent.com/unoplatform/uno.check/1ac413158d43b33a461ccdb8ebad2d654f80893c/manifests/uno.ui.manifest.json'
            version: ''
            unosdk: ''
          - preset: specific-unosdk
            manifest: ''
            version: ''
            unosdk: '5.5.32'
          - os: ubuntu-24.04-arm
            skip: |
              xcode
              vswin
              vsmac
              windowshyperv
              edgewebview2
              androidemulator
              androidsdk
          - os: windows-11-arm
            skip: |
              xcode
              vswin
              vsmac
              windowshyperv
              edgewebview2
              androidemulator
              androidsdk

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Run 'devhub/uno-platform/setup'
        uses: ./devhub/uno-platform/setup
        with:
          uno-sdk-version: ${{ matrix.unosdk }}
          uno-check-manifest: ${{ matrix.manifest }}
          uno-check-version: ${{ matrix.version }}
          uno-check-skip: ${{ matrix.skip }}

      - name: Check 'devhub/uno-platform/setup'
        shell: bash
        run: |
          dotnet new unoapp -o ./test_unoapp -preset "recommended" -platforms "desktop"
          dotnet build ./test_unoapp
